{% extends "base/base.html" %}

{% block content %}

<h2>My Booking History</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Service</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for b in bookings %}
    <tr>
        <td>{{ b.service.name }}</td>
        <td>{{ b.booking_date }}</td>
        <td>{{ b.time_slot }}</td>
        <td>{{ b.status }}</td>
        <td>
            {% if b.status != 'Cancelled' %}
                <a href="{% url 'cancel' b.id %}">Cancel</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No bookings found.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
